<app-view-selection (viewChanged)="onViewChanged($event)"></app-view-selection>
<div class="change-date-group-btn">
  <button
    class="btn-change-date previous"
    (click)="changeDate(dateChangeTypes.Previous)"
    [disabled]="selectedYear === 0"
  >
    &lt;
  </button>
  <button
    class="btn-change-date today"
    (click)="changeDate(dateChangeTypes.Today)"
  >
    Today
  </button>
  <button
    class="btn-change-date next"
    (click)="changeDate(dateChangeTypes.Next)"
  >
    &gt;
  </button>
</div>

<app-calendar-year-view
  [calendarData]="calendarData"
  *ngIf="viewTypes['Year'] === viewIndex"
></app-calendar-year-view>
<app-calendar-month-view
  [yearData]="calendarData ? calendarData[selectedYear] : []"
  [selectedYear]="selectedYear"
  *ngIf="viewTypes['Month'] === viewIndex"
></app-calendar-month-view>

<div *ngIf="viewTypes['Day'] === viewIndex || viewTypes['Week'] === viewIndex">
  <div class="container">
    <div class="col-12 text-center pt-5 font-monospace">
      This was just a proof of concept, this view will be developed later :)
    </div>
  </div>
</div>
