@import "src/variables";
@import "src/mixins";

:host {
  .month-name {
    padding-left: 20px;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 20px;
    .year-name {
      font-weight: 200;
    }
    @include screen-mobile {
      font-size: 18px;
      padding-top: 15px;
    }
  }
  .text-right {
    text-align: right;
  }
  .border-cell {
    border: 1px solid $color-border-grey;
    height: 120px;
    width: 10%;
    background-color: $color-white;
  }
  .relative-position-day {
    .days {
      font-size: 16px;
    }
    text-align: right;
    vertical-align: top;
    padding: 5px 10px 0px 0px;
  }

  .table-cell-date {
    &.weekend-date {
      background-color: $color-cell-grey;
    }
    &.today-date.relative-position-day {
      background-color: none;
      border-radius: 0;
      padding: 0px;

      .days {
        background-color: $color-red;
        padding: 2px;
        border-radius: 50%;
        &:hover {
          color: $color-black !important;
        }
      }
    }
  }
}
