@import "src/variables";
:host {
  .current-year {
    padding: 10px 0px 0px 10px;
    font-weight: 400;
    font-size: 30px;
  }

  .month-name {
    color: $color-red;
    font-weight: 300;
    padding-left: 13px;
    padding-bottom: 15px;
  }

  .week-name {
    color: $color-dark-grey;
    font-weight: 400;
    padding-bottom: 15px;
    font-size: 13px;
  }

  .month-date {
    color: $color-black;
    font-weight: 500;
  }
}
