/* You can add global styles to this file, and also import other style files */
@import "variables";

.other-month-date {
  color: $color-light-grey;
}

.weekend-date {
  color: $color-dark-grey;
}

.days {
  font-size: 14px;
  &:hover {
    color: $color-red !important;
    cursor: pointer;
  }
}
.today-date {
  background-color: $color-red;
  color: $color-white;
  border-radius: 50%;
  padding: 3px;
  &:hover {
    color: $color-black !important;
  }
}
